@model IEnumerable<ManageEmployees.Entities.Employee>

@{
    ViewData["Title"] = "Manage Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Manage <b>Employees</b></h1>
<form asp-action="Search" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="button-addon2" name="keyword">
        <button class="btn btn-outline-primary" type="submit" id="button-addon2">Apply</button>
        @if (User.FindFirst("role")?.Value == "admin")
        {
            <button type="button" class="btn btn-success ms-4" style="float:right;" data-bs-toggle="modal" data-bs-target="#addnew"><i class="fa fa-plus-circle"></i> Add New Employee</button>
        }
    </div>
</form>
@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    No
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                @if (User.FindFirst("role")?.Value == "admin")
                {
                    <th>Actions</th>
                }
            </tr>
        </thead>
        <tbody>
            @{
                int count = 1;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @(count++)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    @if (User.FindFirst("role")?.Value == "admin")
                    {
                        <td>
                            <button type="button" class="btn text-danger delete" data-bs-toggle="modal" data-bs-target="#remove" data-id="@item.Id"><i class="fa fa-trash"></i></button>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No records found...</p>
}
@if (User.FindFirst("role")?.Value == "admin")
{
    <div class="modal fade" id="addnew" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-action="create" method="post">
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="Name" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="col-form-label">Email:</label>
                            <input type="email" class="form-control" id="email" name="Email" required>
                        </div>
                        <div class="mb-3">
                            <label for="address" class="col-form-label">Address:</label>
                            <textarea class="form-control" id="address" name="address" required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="col-form-label">Phone:</label>
                            <input type="text" class="form-control" id="phone" name="phone" required>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-success">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="remove" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Employee</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="mess">
                    Are you sure you want to delete these Records?
                    <p class="text-warning">This action cannot be undone.</p>
                </div>
                <div class="modal-footer" id="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="submit">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        var elements = document.getElementsByClassName("delete");
        var id = 0;
        var DeleteFunc = function () {
            id = this.getAttribute("data-id");
        };

        for (var i = 0; i < elements.length; i++) {
            elements[i].addEventListener('click', DeleteFunc, false);
        }

        document.getElementById("submit").addEventListener("click", function () {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("mess").innerHTML = "Delete successfully!";
                    document.getElementById("modal-footer").innerHTML = "";
                    setTimeout(function () {
                        window.location.href = "/Employee";
                    }, 1500);
                }
            };
            xhttp.open("POST", "/Employee/Delete?id=" + id, true);
            xhttp.send();
        });
    </script>
}